.ListItem {
    width: 284px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .3s;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.016em;
}

.ListItem:hover {
    background-color: #13081708;
}

.nonActiveItem {
    color: #13081766;
}