.SearchingInput {
    min-width: 2px;
    max-width: 230px;
    height: 22px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.012em;
    color: #130817E5;
    white-space: nowrap;
    overflow: hidden;
}

.SearchingInput:focus-visible {
    outline: none;
}